<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 column">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Basics</a></li>
        <li><a href="#">Key Personnel</a></li>
        <li><a href="#">Compliance</a></li>
        <li><a href="#">Attachments</a></li>
        <li><a href="#">Questionnaire</a></li>
        <li><a href="#">Budget</a></li>
        <li><a href="#">Review</a></li>
      </ul>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 column">
      <div class="panel-body">
        <div>
          <table class="table">
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Lead Unit</th>
              <th>Activity Type</th>
              <th>Sponsor Code</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
            {{#each controller}}
              <tr>
                <td>
                  {{title}}
                </td>
                <td>
                  {{proposalType}}
                </td>
                <td>
                  {{leadUnit}}
                </td>
                <td>
                  {{activityType}}
                </td>
                <td>
                  {{sponsorCode}}
                </td>
                <td>
                  {{startDate}}
                </td>
                <td>
                  {{endDate}}
                </td>
              </tr>
            {{else}}
              There are no proposal_basics!
            {{/each}}
          </table>
        </div>
    </div>
  </div>
</div>
